*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

body {
    background-color: #9747ff ;
}

.body {
    position: relative;
    height: 100vh;
    overflow: hidden;
    max-width: 1278px;
    margin: 0 auto;
}

header{
    width: 100%;
    position: sticky;
    text-align:center;
    top: 0;
    left: 0;
    padding: 15px 0;
    color: #fff;
    background-color: #14bf5b;
    border: 2px solid #006437;
    border-radius: 5px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.content{
    overflow: auto;
    padding: 0 0 100px;
    max-height: 100vh;
    scrollbar-color: #271242 #9747ff;
    scrollbar-width: thin;
}

.message-block {
    display: flex;
    padding:5px ;
    margin: 20px;
}
.right-block{
    width: unset;
    justify-content: end;
}
.space-block{
    width: 20%;
}

.message-bg{
    background-color: #be9920;
    border: 2px solid #b78702;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
}

.right-bg{
    background-color: #ffcd29;
    border: 2px solid #ebac00;
}

.message-text{

}

footer{
    width: 100%;
    position: absolute;
    text-align:center;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    color: #fff;
    background-color: #f24822;
    border: 2px solid #8e2e1f;
    border-radius: 5px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
@media (max-width: 425px) {
    .space-block{
       display: none;
    }

    .message-block {
        margin: 15px 10px;
    }
}

@media (max-width: 300px) {
    .message-block {
        margin: 15px 5px;
    }
}